<div class="row">
  <div class="col-lg-12">
    <div class="section-heading">
      <h2>Como nace GENESARET ?</h2>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="categories">
      <h4 class="text-conocenos">
        Nace como proyecto el año 2019 a partir de los sueños puestos en el corazón del Pastor Leslie Bailey
        alrededor del año 1991. En ese año, el Pastor Leslie realizó charlas dirigidas a los jóvenes de diversos
        establecimientos educacionales de la comuna de Los Andes, donde el Señor le muestra la necesidad y las ganas
        de escuchar de Dios de todos estos jóvenes. El Pastor Leslie comienza su ministerio pastoral el año 1986; y
        se avecinan en su actual ministerio desde el año 2004. Genesaret Escuela Libre es la respuesta de Dios a
        todos estos años de oración. Genesaret Escuela Libre abre sus puertas a la comunidad a partir del año 2020.
      </h4>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="meeting-item">
      <div class="thumb">
        <a href="meeting-details.html"><img src="assets\images\imagen-conocenos.jpg" alt="Student Training"></a>
      </div>
    </div>
  </div>
</div>
