<div class="row">
  <div class="col-12">
    <nav class="main-nav">
      <!-- ***** Logo Start ***** -->
      <div href="index.html" class="logo">
        <img src="assets\images\logo-transparente.png" alt="Comunidad Estudiantil Genesaret">
      </div>
      <!-- ***** Logo End ***** -->
      <!-- ***** Menu Start ***** -->
      <ul class="nav">
        <li class="scroll-to-section"><a href="#top" class="active">INICIO</a></li>
        <li><a href="proceso-de-admición.html">ADMISIÓN</a></li>
        <li class="scroll-to-section"><a href="#conocenos">CONOCENOS</a></li>
        <li class="scroll-to-section"><a href="#equipo">NUESTRO EQUIPO</a></li>
        <li class="scroll-to-section"><a href="#courses">MÉTODOLOGIA</a></li>
        <li class="scroll-to-section"><a href="#contact">DECLARACIÓN DE FE</a></li>
        <li class="scroll-to-section"><a href="#contact">CONTACTO</a></li>
      </ul>
      <a class='menu-trigger'>
        <span>Menu</span>
      </a>
      <!-- ***** Menu End ***** -->
    </nav>
  </div>
</div>
