<video #bgVideo autoplay muted loop playsinline id="bg-video">
  <source src="assets/images/videos/video-promocional.mp4" type="video/mp4" />
</video>

<div class="video-overlay header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="caption">
          <h6>Hola estudiantes</h6>
          <h2>Bienvenidos</h2>
          <p>En Genesaret, educamos con excelencia y valores cristianos, formando niños con principios sólidos y amor por el aprendizaje. Ofrecemos un ambiente seguro, con docentes comprometidos y una enseñanza basada en la fe.</p>
          <div class="main-button-red">
            <div class="scroll-to-section">
              <a href="#contact">Habla con nosotros!</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
